html,
body {
    background-color: $gray;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

a {
    color: $white;
}

.banner-728 {
    width: 728px;
    height: 90px;
    margin: 20px auto;
}

#instrument {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.no-scroll {
    overflow: hidden !important;
}


.float-right {
    float: right;
}

.float-left {
    float: left;
}

.float-none {
    float: none;
}
