/*---------------------------------------------------------------------------------------
    * Color palette
---------------------------------------------------------------------------------------*/

    $black     : #000000;

    $white     : #FFFFFF;

    $darkgray  : #212121;

    $gray      : #333333;

    $lightgray : #666666;

    $blue      : #5FC0FF;
