footer {
    background-color: #222;
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #444;
    box-shadow: 0 -1px 0 #000;

    .fb-comments {
        width: 600px;
        display: block !important;
        margin: 0 auto;
    }

    h3 {
        width: 600px;
        margin: 20px auto 10px auto;
        font-weight: 400;
        text-transform: uppercase;
        color: #DDDDDD;
    }

    .general {
        background: #000;
        margin: -20px;
        margin-top: 60px;

        li {
            width: 45%;
            padding: 40px 20px;
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
            line-height: 1.5;

            h3 {
                margin: 0;
                margin-bottom: 20px;
            }
        }
    }
}
