header {
    height: 70px;
    position: relative;

    > div {
        padding: 5px;
        box-sizing: border-box;
    }

    a {
        &.disabled {
            opacity: 0.3 !important;

            &:hover {
                cursor: not-allowed;
                pointer-events: all !important;
                color: #FFF !important;
                text-shadow: none !important;
            }
        }
    }

    .divider {
        display: inline-block;
        width: 0;
        background-color: #000;
        height: 15px;
        margin: 0;
        padding: 0;
        border: none;
        border-left: 1px solid #666;
    }

    .logo {
        width: 200px;
        height: 60px;
        float: left;
        background: url(../images/logo.png) no-repeat center center;
        background-size: 80%;
    }

    .helpers {
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 0;

        a {
            margin: 0 10px;

            &:hover, &.active {
                color: $blue;
            }
        }
    }

    .controls {
        text-align: center;
        margin: 0 auto;
        position: absolute;
        padding: 0;
        top: 14px;
        left: 50%;
        transform: translate(-50%, 0);

        .status-msg {
            position: absolute;
            background: $gray;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            text-align: center;
            font-size: 11px;
            color: #999999;
            transition: transform 2s;
            transform: translateY(0);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &.ng-hide {
                display: flex !important;
                transform: translateY(-110%) !important;
            }
        }

        a {
            color: #FFFFFF;
            opacity: 0.6;
            text-shadow: 0 0 0 $white;
            transition: opacity 0.4s, text-shadow 0.4s, color 0.4s;

            &:hover {
                opacity: 1;
                text-shadow: 0 0 25px $white;
            }
        }

        a.active {
            opacity: 1;
            text-shadow: 0 0 10px $blue;

            &.icon-record {
                color: #FF0000;
                transition: color 0.4s;
                text-shadow: 0 0 25px #FF0000;
            }

            &:hover {
                // text-shadow: 0 0 25px $blue;
            }
        }

        .btn {
            background-color: $black;
            padding: 10px 5px 5px;
            width: 50px;
            height: 20px;
            display: inline-block;

            &:first-of-type {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }

            &:last-of-type {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }

    #timebar {
        height: 8px;
        background-color: $darkgray;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;

        .knob {
            height: 6px;
            width: 0;
            position: relative;
            left: 0;
            top: 1px;
            transition: none;
            // transform: translate(-50%,0);
            // border-radius: 10px;
            opacity: 0;
            background: linear-gradient(90deg, $blue 10%, #85D8CE 90%); /* W3C */

            &.run {
                opacity: 1;
                width: 100%;
                // transform: translate(0,0);
                transition: width 10s linear;

                &.default {
                    transition-duration: 10s !important;
                }
            }
        }
    }

}

.instrument-selector {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #000;
    z-index: 1000;
    padding: 10px;
    overflow-y: scroll;

    .logo {
        float: none;
        margin: 0 auto;
    }

    h2 {
        margin: 40px auto;
    }

    ul {

        li {
            cursor: pointer;
            width: 160px;
            height: 160px;
            display: inline-block;
            margin: 30px;
            border-radius: 50%;
            transform: scale(0.8);
            transition: transform 0.2s;
            background: $white;
            position: relative;
            font-size: 11px;
            box-sizing: border-box;
            border: 4px double $white;

            &.active,
            &:hover:not(.disabled) {
                transform: scale(1);
                border-color: $blue;
                box-shadow: 0 0 40px $white;

                img {
                    transform: translate(25%, -50%) scale(1.3);
                }
            }

            &.downloading {
                border-color: #FAC30A;
                animation: pulse 1s infinite linear;
                border-style: solid;
            }

            &.done {
                border-color: #26C844;
                border-style: solid;
            }

            &.disabled {
                opacity: 0.5;
                -webkit-filter: blur(2px);
                filter: blur(2px);
                cursor: default;
            }

            span {
                position: absolute;
                bottom: -40px;
                left: 0;
                right: 0;
                background: #333;
                border-radius: 10px;
                padding: 4px;
            }

            img {
                width: 200px;
                transform: translate(25%, -50%);
                position: absolute;
                left: -30px;
                top: 45px;
                transition: transform 0.4s;
            }

            &.drums {
                img {
                    left: -70px;
                    top: 80px;
                }
            }
        }
    }

    > .icon-close {
        float: right;
        font-size: 28px;
        cursor: pointer;
    }
}

.save-track-modal {
    position: absolute;
    background: #FFF;
    width: 640px;
    padding: 20px;
    font-size: 21px;
    color: #333;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    z-index: 1000;
    box-shadow: 0 0 20px #000;
    text-align: center;

    > span.icon-close {
        float: right;
        font-size: 32px;
        cursor: pointer;
        color: #666;

        &:hover {
            color: #333;
        }
    }

    h3 {
        float: left;
    }

    > input {
        font-size: 28px;
        width: 100%;
        margin-top: 20px;
    }

    p {
        margin-top: 40px;
    }

    .share {
        color: $black;
        font-size: 14px;
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 20px;
        vertical-align: top;
        cursor: pointer;

        .icon {
            font-size: 42px;
            display: block;
        }
    }
}

.layers {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0 10px;

    &:hover {
        color: $blue;
    }

    &.open {
        color: $lightgray;

        ul {
            display: block;
        }
    }

    ul {
        position: absolute;
        z-index: 10;
        background: $gray;
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: 140px;
        box-shadow: 0 2px 4px $black;
        margin-top: 6px;
        cursor: default;
        display: none;
        color: $white;

        li {
            padding: 10px;
            cursor: pointer;

            &:first-child {
                cursor: pointer;

                &:hover i {
                    color: $blue;
                }
            }

            &.active {
                background-color: $darkgray;
                color: $blue;

                &.icon-rightarrow:before {
                    position: relative;
                    top: 2px;
                    font-size: 8px;
                    margin-right: 10px;
                    margin-left: 4px;
                }

                span {
                    width: calc(100% - 40px);
                }
            }

            &:hover {
                background-color: $darkgray;
                color: $lightgray;
            }

            i {
                position: relative;
                top: 2px;
                margin-right: 10px;
                color: $white;

                &:hover {
                    color: $blue;
                }

                &.icon-close {
                    margin-right: 0;
                }
            }

            span {
                cursor: pointer;
                display: inline-block;
                width: calc(100% - 25px);
            }
        }
    }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
