.instrument {
    background-color: $gray;
    position: relative;
    overflow: hidden;
    height: 280px;

    .top-cover {
        height: 10px;
        background-color: transparent;
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        box-shadow: 0 1px 10px #000;
        z-index: 2;
    }

    > ul {
        display: flex;
    }

    &.piano {
        height: 18vw;
        width: 100vw;

        ul {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
        }

        li {
            position: relative;
            top: 0;
            height: 100%;
            flex: 1;
            background-image: url(../images/white-keys.png);
            background-size: 200%;
            background-position: 0 bottom;
            background-repeat: no-repeat;

            &.pressed {
                background-position: 100% bottom;

                > span {
                    bottom: 6px;
                    color: #999999;
                }
            }

            &:nth-child(-n+12),
            &:nth-last-child(-n+12) {
                display: none;
            }

            &.semitone {
                height: 70%;
                margin-left: -50px;
                z-index: 1;
                width: 4%;
                background-image: url(../images/black-keys.png);
                background-size: 200%;
                background-position: 0 bottom;
                background-repeat: no-repeat;
                flex: 0.7;
                transform: translateX(50%);

                &.pressed {
                    background-position: 100% bottom;
                }
            }

            > span {
                position: absolute;
                bottom: 10px;
                left: 5px;
                color: #DEDEDE;
            }
        }
    }
}

i.keyboard-hotkey {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #DFDFDF;
    padding: 4px 5px;
    border-radius: 5px;
    font-size: 11px;
    margin-top: 10px;
    background: #EBEBEB;
    z-index: 10;
    color: #999;
    font-weight: normal;
    box-shadow: 0 1px 4px #333;

    &.semitone {
        background: #666;
        color: #DDD;
        border: 1px solid #666;
    }

    &.pressed {
        background-color: $black;
        color: $white;
    }
}
