.metronome-input {
    background-color: #FFF;
    font-size: 12px;
    border: 1px solid #FFF;
    transition: width 0.2s, opacity 0.2s;
    width: 0;
    opacity: 0;
    margin-left: -10px;
    position: relative;
    top: -3px;

    &.active {
        width: 40px;
        opacity: 1;
    }
}
