<div class="logo"></div>

<div class="helpers">
    <a href class="icon-keyboard" title="Keyboard Shortcuts" ng-class="{'active': keyboardShortcutActive}" ng-click="toggleKeyboardShortcut()"></a>

    <hr class="divider" />

    <div class="layers" ng-class="{'open': layersAreVisible}">
        <span><i class="icon icon-layers" ng-click="toggleLayers()" title="Tracks"></i></span>

        <ul>
            <li ng-click="addLayer()"><i class="icon icon-plus"></i> New Track</li>

            <li ng-repeat="(layer, label) in layers track by $index" ng-class="{'active': currentLayer == layer }">
                <span ng-click="useLayer(layer); closeLayerMenu()">Track #{{ label }}</span> <i class="icon icon-close float-right" ng-if="layer>0" ng-click="removeLayer(layer)"></i>
            </li>
        </ul>
    </div>

    <hr class="divider" />

    <a href class="icon-piano" title="Change your instrument" ng-click="instrumentSelector()"></a>

    <hr class="divider" />

    <a href class="icon-metronome" ng-click="toggleMetronome()" ng-class="{'active': metronomeIsRunning}" ng-mouseenter="loadMetronomeSound()"></a>

    <input type="number" min="30" max="450" class="metronome-input" ng-model="bpm" ng-class="{'active': metronomeIsRunning}" />

    <a href class="icon-save" ng-click="saveTrack()" ng-class="{'disabled': !hasSomethingRecorded() || !isReady}"></a>

    <hr class="divider" />

    <a href title="Tweet it!" socialshare socialshare-provider="twitter" socialshare-text="Hey, Lets Play Notes!" class="icon-twitter"></a>
    <a href title="Share on Facebook" socialshare socialshare-provider="facebook" socialshare-text="Hey, Lets Play Notes!"  class="icon-facebook"></a>
    <a href title="Stumble it!" socialshare socialshare-provider="stumbleupon" socialshare-text="Hey, Lets Play Notes!"  class="icon-stumble"></a>
</div>

<div class="controls">
    <div class="status-msg" ng-show="!isReady">
        <span>{{ statusMsg }}</span>
    </div>
    <a href class="icon-play btn" ng-click="togglePlaying()" ng-class="{'active icon-stop': activeControl == 'play', 'disabled': !hasSomethingRecorded()}"></a><a href ng-click="toggleRecording()" ng-class="{'active': activeControl == 'record'}" class="icon-record btn"></a>
</div>

<div id="timebar">
    <div class="knob" ng-class="{'run': runTrackbar}" style="transition-duration: {{ trackRunDuration }}s"></div>
</div>

<div class="instrument-selector" ng-show="instrumentsScreenIsVisible">
    <span ng-click="instrumentSelector()" class="icon icon-close"></span>

    <div class="logo"></div>

    <h2>Select your instrument</h2>

    <ul>
        <li ng-repeat="instrument in instruments" ng-class="{'active': currentInstrument == instrument, 'downloading': status && status == instrument, 'disabled': status && status != instrument && status != instrument+'-done', 'done': status && status == instrument+'-done'}" ng-click="setInstrument(instrument)" class="{{ instrument }}">
            <img ng-src="images/instrument-{{instrument}}.png" />
            <span>{{ instrument | capitalize:'all':'_' }}</span>
        </li>
    </ul>
</div>

<div class="save-track-modal" ng-show="showModal">
    <span ng-click="showModal=false" class="icon icon-close"></span>
    <h3>Share this link with the world:</h3>
    <input type="text" ng-model="url" />
    <p>How about sharing your awesome song?</p>
    <p>
        <span class="share" socialshare socialshare-provider="facebook"    socialshare-text="My song!"><i class="icon icon-facebook"></i> Share in Facebook</span>
        <span class="share" socialshare socialshare-provider="twitter"     socialshare-text="My song!"><i class="icon icon-twitter"></i> Tweet it</span>
        <span class="share" socialshare socialshare-provider="stumbleupon" socialshare-text="My song!"><i class="icon icon-stumble"></i> Stumble it</span>
    </p>
</div>
