<h3>Comments?</h3>
<div class="fb-comments" data-width="600" data-num-posts="10" data-colorscheme="dark"></div>

<ul class="general">
    <li>
        <h3>What is this?</h3>
        Play Notes is a web piano to create and share your songs. You can add tracks with different instruments and compositions.
        Also, you can share the things you create in Facebook, Twitter and StumbleUpon.
    </li>

    <li>
        <h3>How to use it</h3>
        You can use the whole computer keyboard, from A-Z and 0-9. Also, there are some instruments that have some extra keys you can access by using the SHIFT key (i.e. Shift + q, Shift + z).
        Also, you can use your mouse to click on the piano keys and play. Use the red circle button on top to record your composition.
    </li>
</ul>
