<div id="instrument" class="instrument piano">
    <div class="top-cover"></div>

    <ul>
        <li ng-repeat="key in notes" id="{{ key.note.label }}" class="{{ key.note.label}}" ng-mousedown="press(key)" ng-mouseup="release(key)" ng-mouseenter="enter(key)" ng-mouseleave="leave(key)" mousetrap-keydown="key.keydown()" mousetrap-keyup="key.keyup()" ng-class="{'semitone': key.note.isSemitone, 'pressed': key.note.pressed}">
            <span ng-if="['C2', 'C3', 'C4', 'C5', 'C6'].indexOf(key.note.tone) > -1">{{ key.note.tone }}</span>
            <i class="keyboard-hotkey" ng-if="keyboardShortcutActive" ng-class="{'semitone': key.note.isSemitone, 'pressed': key.note.pressed}">{{ shortcuts[key.note.tone] }}</i>
        </li>
    </ul>
</div>
